.container{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 1200px;
    height: 96px;
    left: 55px;
    top: 40px;
}


.menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Barlow', sans-serif;
    align-items: center;
    font-size: 12px;
    width: 542px;
    height: 40px;
    left: 733px;
    top: 79px;
    background-color: rgba(99, 99, 99, 0.25);
    backdrop-filter: blur(8px);
}


a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

a:hover{
    border-bottom: 3px solid #fff;
}

.linha{
    width: 300px;
    position: absolute;
    width: 473px;
    height: 1px;
    left: 260px;
    top: 88px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}

img{
    width: 35px;
    height: 35px;
}